import("tools", "utils")

export(
  "jss",
  
  "make_metainfo",
  "make_citation",
  "make_readme",

  "make_jss_bst",
  "make_jss_cls",
  "make_jss_style",
  
  "make_jss_bib",

  "fix_bib",
  "fix_rscript",

  "as.bibentry",
  "bibtool",
  "code_lines",
  "add_doi",
  "get_doi",
  "shortcites"
)


S3method("as.bibentry", "jss")
S3method("as.character", "jss")
S3method("format", "jss")
